body{
    font-family: Arial, Helvetica, sans-serif;
}
/* task 1 Start Here */
.task-1 div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.green{
background-color: green;
top: 10px;
left: 10px;
z-index: 2;
}
.red{
background-color: rgb(255, 0, 0);
top: 20px;
left: 20px;
z-index: 3;
}
.blue{
background-color: blue;
top: 0;
left: 0;
z-index: 1;
}
.black{
background-color: black;
top: 10px;
left: 0;
}
/* task 1 End Here */
/* task 2 Start Here */
.task-2 div{
    width: 400px;
    margin:25px auto;
    background-color: #EEE;
    border: solid 2px;
    border-color: red cyan;
    padding: 25px;
    position: relative;
    line-height: 1.5;
}
.task-2 span{
    text-align: center;
    display: block;
    width: 20px;
    height: 20px;
    background-color: cyan;
    position: absolute;
}
.top-left{
top: -10px;
left: -10px;
border-right: 2px red solid;
}
.bottom-left{
bottom: -10px;
left: -10px;
border-right: 2px red solid;
}
.top-right{
top: -10px;
right: -10px;
border-left: 2px red solid;
}
.bottom-right{
bottom: -10px;
right: -10px;
border-left: 2px red solid;
}
/* task 2 End Here */
/* task 3 Start Here */
.task-3 ul{
    width: 400px;
    list-style-type: none;
    margin: auto;
}
.li-st{
    margin-bottom: 10px 0px;
    padding: 15px;
    margin: 10px 0px;
    background-color: #EEE;
}
.li-st li{
    margin:5px 0 ;
    padding: 5px;
    background-color: white;
}
.t-li li{
    list-style-position: inside;
    list-style-type: circle;
    margin-left: -25px;
}
/* task 3 End Here */
/* task 4 Start Here */
.task-4 table{
    width: 700px;
    margin:30px auto;
    text-align: center;
    border-bottom: 2px solid #009688;
}
.task-4 table td{
    padding: 20px;
}
.task-4 caption{
    font-weight: bold;
    margin-bottom: 15px;
}
.task-4 thead{
    background-color:#404040 ;
    color: #FFF;
    font-weight: bold;
}
.task-4 img{
    width: 60px;
}
.task-4 tbody td{
    background-color: #EEE;
}
.task-4 button{
    padding: 7px 14px;
    margin-left: 10px;
    border: none;
    color: #FFF;
    font-weight: bold;
}
.del{
    background-color: #E91E63;
}
.view{
    background-color: #03A9F4;
}
/* task 4 End Here */